<a href="https://colab.research.google.com/github/EVOMJ/pandas/blob/main/Conhe%C3%A7a_o_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [82]:
from numpy import info
import pandas as pd

dados = pd.read_csv("/content/empresa.csv")
df = pd.DataFrame(dados)
#df
#1.#df.head(10) # mostra  as primeiras linhas e a quantidade (???)
#2.#df.tail(15) # mostra as utlimas linhas
#3.#df.columns mostra as colunas da tabela
#4.#df.info() informaçao da tabela
#5.#df.describe()
#6.#df[df['nome'] == 'Carlos'] # quando quero uma coluna expecifica so com nome da pessoa
#7.#df[df['setor'] == 'TI']
#8.#df[df['salario'] >4000]
#9.#df[['nome', 'salario']]
#10.df.sort_values(by='salario ', ascending=True) # True = cresente
#11.df.sort_values(by='salario', ascending=False) # false = decresente
#12.df.groupby('setor').size()  # Agrupa por 'setor' e conta o número de registros em cada grupo.
#13.df.sort_values("salario").min()
#14 df.sort_values("salario").max()
#15 df.sort_values("salario").min()
df[df['tempo_empresa_anos'] >= 3]

    id      nome   setor  salario  tempo_empresa_anos          cidade
1    2       Ana      RH     4200                   3  Rio de Janeiro
2    3     Bruno      TI     5000                   5  Belo Horizonte
4    5      João  Vendas     4500                   4    Porto Alegre
6    7   Ricardo      RH     4200                   3  Rio de Janeiro
7    8  Fernanda      TI     5000                   5  Belo Horizonte
9   10     Julia  Vendas     4500                   4    Porto Alegre
11  12       Ana      RH     4200                   3  Rio de Janeiro
12  13     Bruno      TI     5000                   5  Belo Horizonte
14  15      João  Vendas     4500                   4    Porto Alegre
16  17   Ricardo      RH     4200                   3  Rio de Janeiro
17  18  Fernanda      TI     5000                   5  Belo Horizonte
19  20     Julia  Vendas     4500                   4    Porto Alegre
21  22       Ana      RH     4200                   3  Rio de Janeiro
22  23     Bruno      TI     5000                   5  Belo Horizonte
24  25      João  Vendas     4500                   4    Porto Alegre
26  27   Ricardo      RH     4200                   3  Rio de Janeiro
27  28  Fernanda      TI     5000                   5  Belo Horizonte
29  30     Julia  Vendas     4500                   4    Porto Alegre
31  32       Ana      RH     4200                   3  Rio de Janeiro
32  33     Bruno      TI     5000                   5  Belo Horizonte
34  35      João  Vendas     4500                   4    Porto Alegre
36  37   Ricardo      RH     4200                   3  Rio de Janeiro
37  38  Fernanda      TI     5000                   5  Belo Horizonte
39  40     Julia  Vendas     4500                   4    Porto Alegre
41  42       Ana      RH     4200                   3  Rio de Janeiro
42  43     Bruno      TI     5000                   5  Belo Horizonte
44  45      João  Vendas     4500                   4    Porto Alegre
46  47   Ricardo      RH     4200                   3  Rio de Janeiro
47  48  Fernanda      TI     5000                   5  Belo Horizonte
49  50     Julia  Vendas     4500                   4    Porto Alegre

Empty DataFrame
Columns: [id, nome, setor, salario, tempo_empresa_anos, cidade]
Index: []